Trimmomatic-0.41/
Trimmomatic-0.41.zip
Trimmomatic-0.41/LICENSE
Trimmomatic-0.41/trimmomatic-0.41.jar
Trimmomatic-0.41/adapters/NexteraPE-PE.fa
Trimmomatic-0.41/adapters/TruSeq2-PE.fa
Trimmomatic-0.41/adapters/TruSeq2-SE.fa
Trimmomatic-0.41/adapters/TruSeq3-PE-2-GGGGG.fa
Trimmomatic-0.41/adapters/TruSeq3-PE-2.fa
Trimmomatic-0.41/adapters/TruSeq3-PE.fa
Trimmomatic-0.41/adapters/TruSeq3-SE.fa
